pipeline/DataLakeIngestionOnly.json
{
	"name": "DataLakeIngestionOnly",
	"properties": {
		"description": "This pipeline is used to copy data from DB2 to Azure Data Lake for both Staging and Raw storage. Several stored procedures are called to update logging and return metadata for the data that needs to be copied.",
		"activities": [
			{
				"name": "LookUp_MasterJobStart",
				"description": "This LookUp calls a stored procedure which creates the ETL.JobMaster status row and returns the MasterProcessNumber ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute_pl_ScaleDBUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_MasterJobStart]",
						"storedProcedureParameters": {
							"JobConfiguration": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JobConfiguration",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable_ETL_Master",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Execute_pl_ScaleDBUp",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_AzureSQLDB_Scaling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ServiceTier": "GeneralPurpose",
						"ComputeSize": "GP_Gen5_14",
						"AzureSQLServerName": "dataanalyticsqa-sql21",
						"AzureSQLDatabaseName": "HavertysDW_QA",
						"SubscriptionID": "e2f53281-fd58-437e-82e1-088d1b79fcbc",
						"ResourceGroupName": "DataAnalytics_QA_RG",
						"AzureRegionName": "East US"
					}
				}
			},
			{
				"name": "Execute ETL_pl_Error_StoredProcedure_DB2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SP_MasterJobEnd_Failure_DB2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterProcessNumber": {
							"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
							"type": "Expression"
						},
						"RunType": {
							"value": "@pipeline().parameters.RunType",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@activity('Execute_pl_DB2MetadataIngestion').Error.Message",
							"type": "Expression"
						},
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"CallingPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_pl_DB2MetadataIngestion",
				"description": "This pipeline LooksUp the metadata for the DB2controlled tables to be copied, copies data from DB2 to Azure Data Lake (Raw and Staging) and logs details at the Table level.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookUp_MasterJobStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_Ingestion_Subpipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterProcessNumber": {
							"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
							"type": "Expression"
						},
						"JobConfiguration": {
							"value": "@pipeline().parameters.JobConfiguration",
							"type": "Expression"
						},
						"RunType": {
							"value": "@pipeline().parameters.RunType",
							"type": "Expression"
						},
						"JobParallelism": {
							"value": "@activity('LookUp_MasterJobStart').output.firstRow.ForEachBatchSize",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SP_MasterJobEnd_Failure_DB2",
				"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute_pl_DB2MetadataIngestion",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
					"storedProcedureParameters": {
						"MasterProcessNumber": {
							"value": {
								"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase_HavertysDW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"JobConfiguration": {
				"type": "string",
				"defaultValue": "NightlyLoad"
			},
			"RunType": {
				"type": "string",
				"defaultValue": "N"
			}
		},
		"folder": {
			"name": "MasterPipeline"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}