pipeline/ETL_pl_DW_Dimensions.json
{
	"name": "ETL_pl_DW_Dimensions",
	"properties": {
		"activities": [
			{
				"name": "df_ADLS_to_Dim_CommonFinish",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_CommonFinish",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_CreditPromotion",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_CreditPromotion",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_Location",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_Location",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_Materials",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_Materials",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_MerchandisingPromo",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_MerchandisingPromo",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_SpecialOrderAttributesKey",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_SpecialOrderAttributesKey",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_SpecialOrdersAttributes",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "adbx_ADLS_to_Dim_SKU",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_SpecialOrdersAttributes",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "ds_ADLS_to_Dim_CommonColor",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "ds_ADLS_to_Dim_CommonColor",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "adbx_ADLS_to_Dim_SKU",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Dimension Loads/Load Dim_SKU",
					"baseParameters": {
						"MasterProcessNumber": {
							"value": "@string(pipeline().parameters.MasterProcessNumber)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "adbx_ADLS_to_Dim_Customer",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Dimension Loads/Load Dim_Customer",
					"baseParameters": {
						"MasterProcessNumber": {
							"value": "@string(pipeline().parameters.MasterProcessNumber)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "df_ADLS_to_Dim_Factory",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_Factory",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_Vendor",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_Vendor",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_Override_Reason",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_Override_Reason",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "ETL_pl_DW_Facts",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "df_ADLS_to_Dim_SpecialOrdersAttributes",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "adbx_ADLS_to_Dim_Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_CommonFinish",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_CreditPromotion",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_Location",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_Materials",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_MerchandisingPromo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_SpecialOrderAttributesKey",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ds_ADLS_to_Dim_CommonColor",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_Factory",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_Vendor",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_Override_Reason",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "adbx_ADLS_to_Dim_Team",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "adbx_ADLS_to_Dim_Employee",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Holiday_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ADLS_to_Dim_ShippingOrigin",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "df_ALDS_to_Dim_DeliveryArea",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_DW_Facts",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterProcessNumber": {
							"value": "@pipeline().parameters.MasterProcessNumber",
							"type": "Expression"
						},
						"RunType": {
							"value": "@pipeline().parameters.RunType",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SP_MasterJobEnd_Failure_Pipeline",
				"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ETL_pl_DW_Facts",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
					"storedProcedureParameters": {
						"MasterProcessNumber": {
							"value": {
								"value": "@pipeline().parameters.MasterProcessNumber",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase_HavertysDW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "adbx_ADLS_to_Dim_Team",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Dimension Loads/Load Dim_Team",
					"baseParameters": {
						"MasterProcessNumber": {
							"value": "@string(pipeline().parameters.MasterProcessNumber)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "adbx_ADLS_to_Dim_Employee",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Dimension Loads/Load Dim_Employee",
					"baseParameters": {
						"MasterProcessNumber": {
							"value": "@string(pipeline().parameters.MasterProcessNumber)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute ETL_pl_Error_StoredProcedure_Execute",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SP_MasterJobEnd_Failure_Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterProcessNumber": {
							"value": "@pipeline().parameters.MasterProcessNumber",
							"type": "Expression"
						},
						"RunType": {
							"value": "@pipeline().parameters.RunType",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@activity('ETL_pl_DW_Facts').Error.Message",
							"type": "Expression"
						},
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"CallingPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "df_ADLS_to_Holiday_Name",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_Date_Holiday_Name",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ADLS_to_Dim_ShippingOrigin",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ADLS_to_Dim_ShippingOrigin",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "'@{string(pipeline().parameters.MasterProcessNumber)}'",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "df_ALDS_to_Dim_DeliveryArea",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_ALDS_to_Dim_DeliveryArea",
						"type": "DataFlowReference",
						"parameters": {
							"MasterProcessNumber": {
								"value": "@string(pipeline().parameters.MasterProcessNumber)",
								"type": "Expression"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "MDFIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			}
		],
		"parameters": {
			"MasterProcessNumber": {
				"type": "int",
				"defaultValue": 1
			},
			"RunType": {
				"type": "string",
				"defaultValue": "N"
			}
		},
		"folder": {
			"name": "Dimensions"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}