pipeline/ETL_Nightly_pl_DB2Controlled_Subpipeline.json
{
	"name": "ETL_Nightly_pl_DB2Controlled_Subpipeline",
	"properties": {
		"activities": [
			{
				"name": "LookUp_JobConfigurationDB2MetadataList",
				"description": "This LookUp calls a stored procedure and returns the metadata for the DB2 tables that need to be copied to Azure Data Lake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_JobConfigurationDB2MetadataList]",
						"storedProcedureParameters": {
							"MasterProcessNumber": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MasterProcessNumber",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable_ETL_DB2MetadataIngestionList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_CopyStagingRaw",
				"description": "This ForEach loops through the metadata list and copies data nto Staging and Raw in Azure Data Lake.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUp_JobConfigurationDB2MetadataList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUp_JobConfigurationDB2MetadataList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 15,
					"activities": [
						{
							"name": "Copy_DB2_ADLStaging",
							"description": "A query returns applicable data for each from DB2 which is then copied into Azure Data Lake in a staging folder. File path and name are dynamically derived from the Metadata lookup.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete_ExistingStaging",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "Db2Source",
									"query": {
										"value": "@if(equals(coalesce(item().ControlFilterColumn, ''), ''), \n\nconcat(item().SelectQuery,' FROM ',item().SchemaTable),\n\nconcat('SELECT * FROM ', Item().SchemaTable, \n' WHERE ', Item().ControlFilterColumn,\n ' BETWEEN ', \n '''',\nreplace(Coalesce(activity('LookUp_DB2ControlTable').output.firstRow.OVR_Extracted_From, activity('LookUp_DB2ControlTable').output.firstrow.Extracted_From),'T', ' '), \n'''',\n' AND ', '''',\nreplace(activity('LookUp_DB2ControlTable').output.firstrow.Extracted_THRU,'T',' '),''''))",
										"type": "Expression"
									},
									"sqlReaderQuery": {
										"value": "@item().SelectQuery",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": {
									"value": "@pipeline().parameters.JobParallelism",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_DB2_pc03002",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADLSG2parquet_DataLakeIngestionNamedFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat( item().DataLakeStagingFolder, '/', replace(replace(item().SchemaTable, '.', '_'), 'del', '') )",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().SchemaTable,'_',string(pipeline().parameters.MasterProcessNumber),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy_ADLStaging_ADLRaw",
							"description": "This activity copies data from the ADL Staging location into a Raw storage folder. File path and name are dynamically derived from the Metadata lookup.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_DB2_ADLStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Delete_ExistingRaw",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": {
									"value": "@pipeline().parameters.JobParallelism",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ADLSG2parquet_DataLakeIngestionDir",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat( item().DataLakeStagingFolder, '/', replace(replace(item().SchemaTable, '.', '_'), 'del', '') )",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADLSG2parquet_DataLakeIngestionDir",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat(replace(concat( item().DataLakeStagingFolder, '/', replace(replace(item().SchemaTable, '.', '_'), 'del', '') ), 'staging', 'raw'), '/TS=',string(item().StartTime))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LookUp_JobTableLogStart",
							"description": "This LookUp calls a stored procedure which updates the status in the JobTableLog for each table being copied and returns JobTableLogID.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[usp_JobTableLogStart]",
									"storedProcedureParameters": {
										"JobConfiguration": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.JobConfiguration",
												"type": "Expression"
											}
										},
										"MasterProcessNumber": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.MasterProcessNumber",
												"type": "Expression"
											}
										},
										"SchemaTable": {
											"type": "String",
											"value": {
												"value": "@item().SchemaTable",
												"type": "Expression"
											}
										},
										"TableControlType": {
											"type": "String",
											"value": "DB2"
										},
										"TableID": {
											"type": "Int32",
											"value": {
												"value": "@item().TableID",
												"type": "Expression"
											}
										}
									}
								},
								"dataset": {
									"referenceName": "ds_AzureSqlTable_ETL_Master",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SP_JobTableLogEnd_Success",
							"description": "This stored procedure updates the JobTableLog status after successful execution of previous steps. ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_DB2MetadataListUpdate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_JobTableLogEnd_Success]",
								"storedProcedureParameters": {
									"JobTableLogID": {
										"value": {
											"value": "@{activity('LookUp_JobTableLogStart').output.value[0].JobTableLogID}",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_JobTableLogEnd_Failure4",
							"description": "This stored procedures updates the status of the JobTableLog failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_DB2MetadataListUpdate",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_JobTableLogEnd_Failure]",
								"storedProcedureParameters": {
									"JobTableLogID": {
										"value": {
											"value": "@{activity('LookUp_JobTableLogStart').output.value[0].JobTableLogID}",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_DB2MetadataListUpdate",
							"description": "This stored procedure updates the AzureMetadataIngestionList table with the start time of the most recent copy activity. This start time serves as the FilterColumnValue for DB2 queries in subsequent loads.  ",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_ADLStaging_ADLRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_DB2MetadataListUpdate]",
								"storedProcedureParameters": {
									"JobTableLogID": {
										"value": {
											"value": "@{activity('LookUp_JobTableLogStart').output.value[0].JobTableLogID}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ControlStartDate": {
										"value": {
											"value": "@if(equals(coalesce(item().ControlFilterColumn, ''), ''), \nactivity('LookUp_DB2ControlTable').output.firstRow.STARTED,\nactivity('LookUp_DB2ControlTable').output.firstRow.EXTRACTED_FROM\n)",
											"type": "Expression"
										},
										"type": "datetime"
									},
									"ControlEndDate": {
										"value": {
											"value": "@if(equals(coalesce(item().ControlFilterColumn, ''), ''), \nactivity('LookUp_DB2ControlTable').output.firstRow.COMPLETED,\nactivity('LookUp_DB2ControlTable').output.firstRow.EXTRACTED_THRU\n)",
											"type": "Expression"
										},
										"type": "datetime"
									},
									"ControlProcessNumber": {
										"value": {
											"value": "@{activity('LookUp_DB2ControlTable').output.firstRow.NEXT_PROCESS_NUMBER}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ControlStartDateOver": {
										"value": {
											"value": "@if(equals(coalesce(item().ControlFilterColumn, ''), ''), \nactivity('LookUp_DB2ControlTable').output.firstRow.COMPLETED,\nactivity('LookUp_DB2ControlTable').output.firstRow.OVR_EXTRACTED_FROM\n)",
											"type": "Expression"
										},
										"type": "datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_JobTableLogEnd_Failure3",
							"description": "This stored procedures updates the status of the JobTableLog failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_ADLStaging_ADLRaw",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_JobTableLogEnd_Failure]",
								"storedProcedureParameters": {
									"JobTableLogID": {
										"value": {
											"value": "@{activity('LookUp_JobTableLogStart').output.value[0].JobTableLogID}",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_JobTableLogEnd_Failure2",
							"description": "This stored procedures updates the status of the JobTableLog failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_DB2_ADLStaging",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_JobTableLogEnd_Failure]",
								"storedProcedureParameters": {
									"JobTableLogID": {
										"value": {
											"value": "@{activity('LookUp_JobTableLogStart').output.value[0].JobTableLogID}",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete_ExistingStaging",
							"description": "This activity deletes all existing files in the destination staging folder for each file being copied.",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "LookUp_DB2ControlTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_ADLSG2parquet_DataLakeIngestionDir",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat( item().DataLakeStagingFolder, '/', replace(replace(item().SchemaTable, '.', '_'), 'del', '') )",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Delete_ExistingRaw",
							"description": "This activity deletes files that have the same start time as the current run (i.e. only when this is a rerun). Therefore, most of the time this activity will not delete any files and will fail. The pipeline will continue upon completion of this activity - not success.",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Delete_ExistingStaging",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_ADLSG2parquet_DataLakeIngestionDir",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat(replace(concat( item().DataLakeStagingFolder, '/', replace(replace(item().SchemaTable, '.', '_'), 'del', '') ), 'staging', 'raw'), '/TS=',string(item().StartTime))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "LookUp_DB2ControlTable",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LookUp_JobTableLogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "Db2Source",
									"query": {
										"value": "@concat('Select * from ', item().ControlTable)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "ds_DB2_pc03002_ControlTable",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_MasterJobEnd_Failure",
				"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_CopyStagingRaw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
					"storedProcedureParameters": {
						"MasterProcessNumber": {
							"value": {
								"value": "@pipeline().parameters.MasterProcessNumber",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase_HavertysDW",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"JobConfiguration": {
				"type": "string",
				"defaultValue": "NightlyLoad"
			},
			"MasterProcessNumber": {
				"type": "int",
				"defaultValue": 249
			},
			"JobParallelism": {
				"type": "int",
				"defaultValue": 10
			}
		},
		"folder": {
			"name": "MasterPipeline"
		},
		"annotations": []
	}
}