pipeline/MasterPipeline_Production_Old.json
{
	"name": "MasterPipeline_Production_Old",
	"properties": {
		"description": "This pipeline is used to copy data from DB2 to Azure Data Lake for both Staging and Raw storage. Several stored procedures are called to update logging and return metadata for the data that needs to be copied.",
		"activities": [
			{
				"name": "LookUp_MasterJobStart",
				"description": "This LookUp calls a stored procedure which creates the ETL.JobMaster status row and returns the MasterProcessNumber ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute_pl_ScaleDBUp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_MasterJobStart]",
						"storedProcedureParameters": {
							"JobConfiguration": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JobConfiguration",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable_ETL_Master",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Execute_pl_ScaleDBUp",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_AzureSQLDB_Scaling",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ServiceTier": "GeneralPurpose",
						"ComputeSize": "GP_Gen5_16",
						"AzureSQLServerName": "da-prod-sql21",
						"AzureSQLDatabaseName": "HavertysDW",
						"SubscriptionID": "06bd4a5c-0af7-4bc6-9e61-7e2a20cee361",
						"ResourceGroupName": "DA_Prod21_RG",
						"AzureRegionName": "East US"
					}
				}
			},
			{
				"name": "DB2_RESTCall_500",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LookUp_MasterJobStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"requestBody": {
								"value": "@{concat('{', '\"status\": ', '500', ', ', '\"processNumber\": ', string(activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber), ', ', '\"runType\": ', pipeline().parameters.RunType, ', \"runId\": ', pipeline().RunId, '}')}",
								"type": "Expression"
							},
							"requestTimeout": ""
						}
					},
					"dataset": {
						"referenceName": "DB2StoredProcedureHTTPJson",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DB2RunCheck",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "DB2_RESTCall_500",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(string(activity('DB2_RESTCall_500').output.firstRow.returnCode), '0'), not(equals(string(activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber), '0'))\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SP_MasterJobEnd_Failure_Pipeline_copy_copy1",
							"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
								"storedProcedureParameters": {
									"MasterProcessNumber": {
										"value": {
											"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute ETL_pl_Error_StoredProcedure_DB2RunCheck",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_MasterJobEnd_Failure_Pipeline_copy_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('DB2_RESTCall_500').output.firstRow.errorMessage",
										"type": "Expression"
									},
									"RunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"CallingPipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute_pl_AzureControledMetadata",
							"description": "This pipeline LooksUp the metadata for the Azure controlled tables to be copied, copies data from DB2 to Azure Data Lake (Raw and Staging) and logs details at the Table level.",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_AzureControlled_Subpipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"JobConfiguration": {
										"value": "@pipeline().parameters.JobConfiguration",
										"type": "Expression"
									},
									"JobParallelism": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.ForEachBatchSize",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute_pl_DB2ControledMetadata_via_RunType_Pipeline",
							"description": "This pipeline LooksUp the metadata for the DB2controlled tables to be copied, copies data from DB2 to Azure Data Lake (Raw and Staging) and logs details at the Table level.",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "RunType_If_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"JobConfiguration": {
										"value": "@pipeline().parameters.JobConfiguration",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									},
									"JobParallelism": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.ForEachBatchSize",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SP_MasterJobEnd_Failure_Azure",
							"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute_pl_AzureControledMetadata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
								"storedProcedureParameters": {
									"MasterProcessNumber": {
										"value": {
											"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "adbx_ADLS_CuratedCustomer",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Execute_pl_AzureControledMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "adbx_Start_Cluster",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Dimension Loads/Load Curated Customer Tables"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_MasterJobEnd_Failure_DB2",
							"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute_pl_DB2ControledMetadata_via_RunType_Pipeline",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
								"storedProcedureParameters": {
									"MasterProcessNumber": {
										"value": {
											"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "adbx_ADLS_CuratedTeam",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Execute_pl_DB2ControledMetadata_via_RunType_Pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "adbx_Start_Cluster",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Dimension Loads/Load Curated Team Tables"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute_pl_DW_Dimensions",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "adbx_ADLS_CuratedCustomer",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "adbx_ADLS_CuratedTeam",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_DW_Dimensions",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									},
									"JobConfiguration": {
										"value": "@pipeline().parameters.JobConfiguration",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SP_MasterJobEnd_Failure_Pipeline",
							"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute_pl_DW_Dimensions",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
								"storedProcedureParameters": {
									"MasterProcessNumber": {
										"value": {
											"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase_HavertysDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "adbx_Start_Cluster",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 120,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Dimension Loads/Count Curated Tables and Start Cluster"
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureDatabricks_DataAnalyticsQA_ADBX",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute ETL_pl_Error_StoredProcedure_Execute_Azure",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_MasterJobEnd_Failure_Azure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('Execute_pl_AzureControledMetadata').Error.Message",
										"type": "Expression"
									},
									"RunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"CallingPipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute ETL_pl_Error_StoredProcedure_Execute_DB2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_MasterJobEnd_Failure_DB2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('Execute_pl_DB2ControledMetadata_via_RunType_Pipeline').Error.Message",
										"type": "Expression"
									},
									"RunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"CallingPipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute ETL_pl_Error_StoredProcedure_Execute_Final",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SP_MasterJobEnd_Failure_Pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MasterProcessNumber": {
										"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
										"type": "Expression"
									},
									"RunType": {
										"value": "@pipeline().parameters.RunType",
										"type": "Expression"
									},
									"ErrorMessage": {
										"value": "@activity('Execute_pl_DW_Dimensions').Error.Message",
										"type": "Expression"
									},
									"RunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"CallingPipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_MasterJobEnd_Failure_Pipeline_copy",
				"description": "This stored procedure receives the MasterProcessNumber as input and updates the status of the MasterJob table after failed execution of previous steps.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DB2RunCheck",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_MasterJobEnd_Failure]",
					"storedProcedureParameters": {
						"MasterProcessNumber": {
							"value": {
								"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase_HavertysDW",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute ETL_pl_Error_StoredProcedure_Execute",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SP_MasterJobEnd_Failure_Pipeline_copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_pl_Error_StoredProcedure_Execute",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterProcessNumber": {
							"value": "@activity('LookUp_MasterJobStart').output.firstRow.MasterProcessNumber",
							"type": "Expression"
						},
						"RunType": {
							"value": "@pipeline().parameters.RunType",
							"type": "Expression"
						},
						"RunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"CallingPipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"JobConfiguration": {
				"type": "string",
				"defaultValue": "NightlyLoad"
			},
			"RunType": {
				"type": "string",
				"defaultValue": "N"
			}
		},
		"folder": {
			"name": "MasterPipeline/Deprecated"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}