pipeline/REST Connector Version.json
{
	"name": "REST Connector Version",
	"properties": {
		"description": "Calls DB2 stored procedure via REST API. This stored procedure updates the master control table status and logs. ",
		"activities": [
			{
				"name": "Copy_REST_ConfigJson",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@{concat('{', \n'\"status\": ', string(pipeline().parameters.status), ', ',\n'\"processNumber\": ', string(pipeline().parameters.processNumber), ', ',\n'\"runType\": ', pipeline().parameters.runType, \n'}')}",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_RESTResource_DB2MasterControlSp",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Blob_DB2StoredProcedureConfigJson",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookUp_ConfigJson",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy_REST_ConfigJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"dataset": {
						"referenceName": "ds_Blob_DB2StoredProcedureConfigJson",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_callSuccessful",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookUp_ConfigJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "callSuccessful",
					"value": {
						"value": "@equals(activity('LookUp_ConfigJson').output.firstRow.returnCode, 0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_errorMessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookUp_ConfigJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMessage",
					"value": {
						"value": "@activity('LookUp_ConfigJson').output.firstRow.errorMessage",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"status": {
				"type": "int"
			},
			"processNumber": {
				"type": "int"
			},
			"runType": {
				"type": "string",
				"defaultValue": "N"
			}
		},
		"variables": {
			"callSuccessful": {
				"type": "Boolean"
			},
			"errorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "REST/Testing"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}